<section class="form">
  <h3>Factoren</h3>
  <form class="" action="index.html" method="post">
     <fieldset>
       {{#each model as |data |}}
        <legend>{{data.title}}</legend>
        {{/each}}

        {{#each data.questions as |questions |}}
           <label>{{questions.label}}</label>
           <select  name="questions">
             {{#each questions.options as |options |}}
              <option class="questions" value = "{{questions.weight}}">{{options}}</option>
              {{/each}}
           </select>
           {{/each}}
     </fieldset>
  </form>

</section>
{{yield}}
