{{main-header }}

<section class="newtaxation">

<h2>nieuwe taxatie maken</h2>
<!-- calculation! -->
{{newtaxation-scale }}

<!-- category -->
{{newtaxation-filterlist }}

<!-- form! -->
{{#each model as |dataUnit |}}

  {{newtaxation-form data=dataUnit}}

{{/each}}

</section>

{{outlet}}
